@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@mixin haider{
font-size: 16px;
font-weight: 400;
line-height: 18.96px;
color: #4F5665;
}

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin haider-right{
    font-weight: 500;
    line-height: 18.96px;
}
@mixin haider-left {
font-size: 20px;
font-weight: 500;
line-height: 23.7px;
color: #0B132A;
}

@mixin haider-span{
font-size: 20px;
font-weight: 700;
line-height: 23.7px;
}
@mixin shablon ($fs, $fw, $lh){
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}

@mixin reset {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik';
    color: #FFFFFF;
    padding: 45.62px 150px;
    margin: 0;
    display: flex;
    justify-content: center;
}



.haider{
    @include haider();
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-left{
        @include haider-left();
        display: flex;
        align-items: center;
    }
    &-span{
        @include haider-span();
    }
    &-center{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &-right{
        display: flex;
        align-items: center;
        gap: 30px;
        @include haider-left();
        color: #0B132A;
        &-sign{
            color: #F53855;
            border: #F53855 solid 1px;
            border-radius: 50px;
            width: 150px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.main{
    margin-top: 88.49px;
    display: flex;
    gap: 40.76px;
    color: #4F5665;
    &-left{
        display: flex;
        flex-direction: column;
        &-p1{
            @include shablon(50px,500 ,70px );
            color: #0B132A;
            margin-bottom: 20px;
            margin-top: 27.66px;
        }
        &-p2{
            @include shablon(16px,400 ,30px );
            margin: 0 0 50px 0;
        }
        &-span{
            @include shablon(16px,500 ,30px );
        }
        &-button{
            border: none;
            background: #F53855;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            width: 250px;
            height: 65px;
            align-items: center;
            border-radius: 10px;
        }
    }
}

.main-grid{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 37.21px 0;
    width: 1140px;
    margin: 103px 0 95.83px 0 ;
    color: #0B132A; 
    &-left{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 365.5px;
    }
    &-column{
        display: flex;
        flex-direction: column; 
        margin-left: 36.5px;        
    }
    &-center{
        height: 125.57px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 430px;
        border-left: #EEEFF2 solid 2px; 
        border-right: #EEEFF2 solid 2px;
    }
    &-right{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 344.5px;
    }
}

.size-big{
    @include reset();
    color: #0B132A;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

.size-small{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.functions{
    color: #0B132A;
    display: flex;
    gap: 169.48px;
    &-img{
        width: 508.12px;
        height: 414.71px;
    }
    &-pre{
        display: flex;
        flex-direction: column;
        &-h{
            margin-top: 54.17px;
            @include reset();
            font-size: 35px;
            font-weight: 500;
            line-height: 50px;
        }
        &-h2{
            @include reset();
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            margin: 20px 0 12.5px 0;
        }
        &-p{
            margin: 7.5px;
            @include reset();
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            display: flex;
            align-items:center;
        }
    }
}

.main2{
    margin-top: 207px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &-h{
        @include reset();
        font-size: 35px;
        font-weight: 500;
        line-height: 50px;
        color: #0B132A;
        text-align: center;
    }
    &-p{
        @include reset();
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #4F5665;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 60px;
    }
}

.cart{
    display: flex;
    gap: 50px;
    margin: 0 26.02px 0 24.14px;
    &1{
        border: #DDDDDD solid 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 79.63px 69.87px 50px 69.87px;
        border-radius: 10px;
    }
    &2{
        border: #DDDDDD solid 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 79.63px 69.73px 50px 69.73px;
        border-radius: 10px;
    }
    &3{
        border: #F53838 solid 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 79.63px 69.73px 50px 69.73px;
        border-radius: 10px;
    }
    &-p{
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: left;
        color: #4F5665;
        margin-bottom: 10px;
    }
    &-h{
        color: #0B132A;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        margin: 30px 0 30px 0;
    }
    &-number{
        color: #0B132A;
        margin-top: 120px;
        font-size: 25px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
    }
    &-res{
        @include reset();
    }
    &-button{
        border: #F53838 solid 2px;
        color: #F53838;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        padding: 13px 62.94px;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.96px;
        margin-top: 20px;
        &-red{
            border: none;
            background: #F53838;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 700;
            line-height: 18.96px;
            border-radius: 50px;
            padding: 13px 62.94px;
        }
    }
    &-span{
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        color: #4F5665;
    }
}


