@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@mixin haider{
font-size: 16px;
font-weight: 400;
line-height: 18.96px;
color: #4F5665;
}

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin haider-right{
    font-weight: 500;
    line-height: 18.96px;
}
@mixin haider-left {
font-size: 20px;
font-weight: 500;
line-height: 23.7px;
color: #0B132A;
}

@mixin haider-span{
font-size: 20px;
font-weight: 700;
line-height: 23.7px;
}

body{
    font-family: 'Rubik';
    color: #FFFFFF;
    padding: 50px 150px;
}

@mixin shablon ($fs, $fw, $lh){
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}


.haider{
    @include haider();
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-left{
        @include haider-left();
        display: flex;
        align-items: center;
    }
    &-span{
        @include haider-span();
    }
    &-center{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &-right{
        display: flex;
        align-items: center;
        gap: 30px;
        @include haider-left();
        color: #0B132A;
        &-sign{
            color: #F53855;
            border: #F53855 solid 1px;
            border-radius: 50px;
            width: 150px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.main{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    color: #4F5665;
    &-left{
        display: flex;
        flex-direction: column;
        &-p1{
            @include shablon(50px,500 ,70px );
            color: #0B132A;
            margin-bottom: 20px;
            
        }
        &-p2{
            @include shablon(16px,400 ,30px );
            margin: 0 0 50px 0;
        }
        &-span{
            @include shablon(16px,500 ,30px );
        }
        &-button{
            border: none;
            background: #F53855;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            width: 250px;
            height: 65px;
            align-items: center;
            border-radius: 10px;
        }
    }
}
